/*---------esercizio 1----------*/
.ex-1-square {
    transition: all 3s;
}

.ex-1-square:hover {
    background-color: red;
}
/*---------esercizio 2----------*/
.ex-2-square {
    transition: all 3s;
}

.ex-2-square:active {
    width: 100%;
}
/*---------esercizio 3----------*/
.ex-3-square {
    transition: all 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}
/*---------esercizio 4----------*/
.ex-4-square {
    transition: all 2s;
}

.ex-4-square:hover {
    opacity: 0;
}
/*---------esercizio 5-----------*/
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

/*-------soluzione alternativa ex-5-------
.ex-5-square:hover {
    transform: scale(2)
}

.ex-5-square:acrive {
    transform: scale(0.5)
}*/

/*----------esercizio 6----------*/
.ex-6-img:hover {
    filter: grayscale(1);
}
/*----------esercizio 7----------*/
.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: grayscale(0.4) brightness(0.7);
}
/*----------esercizio 8----------*/
.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    border-radius: 40px;
    filter: brightness(0.25) saturate(0.25);
}
/*----------esercizio 9----------*/
.ex-9-img {
    transition: 4s;
}

.ex-9-img:hover {
    border-radius: 40px;
    filter: opacity(0.8) sepia(1);
    transform: scale(1.5);
}
/*----------esercizio 10---------*/
.ex-10-icon {
    animation: rotate-a 2s linear infinite;
}

@keyframes rotate-a {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/*---------esercizio 11---------*/
.ex-11-icon:hover {
    animation: rotate-b 2s ease-in;
}

@keyframes rotate-b {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(0deg)}
}
/*---------esercizio 12---------*/
.ex-12-button:hover .ex-12-top-white {
    animation: move-12-top 2s linear;
}

@keyframes move-12-top {
    0% {left: 10%;}
    50% {left: calc(100% - 60px);}
    100% {left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: move-12-bottom 2s linear;
}

@keyframes move-12-bottom {
    0% {right: 20%;}
    50% {right: calc(100% - 60px);}
    100% {right: 20%;}
}
/*---------esercizio 13---------*/
.ex-13-button:hover .ex-13-top-white {
    animation: complete-move-13-top 4s linear;
}

@keyframes complete-move-13-top {
    0% {
        left: 10%;
        top: -10px;
    }
    27%{
        left: calc(100% - 30px);
        top: -10px;
    }
    40% {
        left: calc(100% - 40px);
        top: calc(100% - 10px);
    }
    50% {
        left: calc(90% - 60px);
        top: calc(100% - 10px);
    }
    77% {
        left: -20px;
        top: calc(100% - 10px);
    }
    90%{
        left: -20px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: complete-move-13-bottom 4s linear;
}

@keyframes complete-move-13-bottom {
    0% {
        right: 20% ;
        bottom: -10px;
    }
    27% {
        right: calc(100% - 40px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 30px);
        bottom: calc(100% - 10px);
    }
    50% {
        right: calc(80% - 60px);
        bottom: calc(100% - 10px);
    }
    77% {
        right: -30px;
        bottom: calc(100% - 10px);
    }
    90% {
        right: -30px;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}
